.dflex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.nav-img > img {
  width: 150px;
  height: 80px;
}
main {
  width: 100vw;
  height: auto;
}
main > img {
  width: 100vw;
  height: 300px;
}
.footer-banner {
  display: flex;
  justify-content: space-around;
}
.footer-banner > img {
  /* border: 2px solid white; */
  background-color: white;
  margin: 8px;
}
.main-container {
  background-color: whitesmoke;
  height: 100vh;
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.login-container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
.colone {
  background-image: url("https://www.guvi.in/web-build/images/left-banner-bg.a6440f3bb80a774799250b43c15f4092.png");
  height: 100vh;
  color: white;
}
.row-first {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 4rem;
  margin: 50px;
}
.ulcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.row-first > img {
  width: 150px;
}
.coltwo {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lable-span {
  background-color: gray;
  position: absolute;
  top: 340px;
  left: 950px;
}
.line-hr {
  position: relative;
}
.login-container > .row {
  display: flex;
}
.googlebtn {
  text-align: center;
}
.googlebtn > Button {
  width: 400px;
}
ul {
  list-style: none;
  margin: 0;
}
ul > li {
  margin: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 8px;
  background-color: rgb(1, 49, 1);
  border-radius: 6px;
}
h1 > span {
  color: yellow;
}
.display-container > main {
  width: 100vw;
}
.disp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}
.cards {
  width: 300px;
  height: 400px;
  margin: 8px;
}
.card-imgs {
  width: 100px;
  height: 200px;
}
